<section class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Main Title</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat luctus nulla, nec dictum odio
                laoreet quis. Nam velit nisi, ultricies a tristique sit amet, elementum ut orci. Nulla facilisi. Sed ac
                dictum arcu. Duis ut dignissim lacus. Integer vehicula massa nec nibh lacinia congue. Vestibulum iaculis
                felis a ipsum venenatis, non dapibus mauris lobortis. In neque lacus, accumsan faucibus placerat id,
                consequat ut augue. Donec cursus urna sed dui dapibus, vitae imperdiet eros vulputate.
            </p>
            Proin venenatis elit et condimentum fermentum. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Nam pulvinar risus ullamcorper, cursus nisi vitae, varius nulla. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. In placerat, odio a fringilla sagittis,
            sem tellus auctor orci, id dictum quam urna at augue. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia curae; Nulla egestas dignissim tempor. Etiam sed lorem tellus.
            <p>
                Quisque ante dolor, rhoncus elementum feugiat vitae, dignissim ut felis. Ut ut magna condimentum,
                condimentum mauris vitae, congue ligula. Nam in pharetra neque, in tempor lectus. Nulla ut aliquam arcu,
                sed sodales nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                curae; Quisque tincidunt tincidunt porttitor. Duis gravida pretium nulla vitae tincidunt. Donec
                elementum, lectus id gravida lobortis, dui risus suscipit dolor, quis rhoncus augue sapien et tortor.
                Pellentesque sed tincidunt ex, sagittis placerat ligula. Maecenas vulputate velit sed sapien laoreet, at
                dapibus eros accumsan. Vestibulum sit amet nisl ac ante facilisis interdum nec id justo. Duis egestas
                eros dui, vel blandit arcu dapibus sit amet. Nulla ultricies nibh ac tortor bibendum congue vitae at mi.

        </mat-card-content>
    </mat-card>

</section>