<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="New" matTooltip="New item" [matTooltipShowDelay]="1000"
        (click)="openBoardDialog()">
        <mat-icon>library_add</mat-icon>
    </button>
</mat-toolbar>

<!-- <section class="container">
    <ul>
        <li>
            <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
        </li>
    </ul>
</section> -->
<section class="container">
    <mat-list role="list">
        <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
    </mat-list>
</section>