<mat-tab-group dynamicHeight>
    <mat-tab label="To Do">
        <app-todo-list></app-todo-list>
    </mat-tab>
    <mat-tab label="Notes">        
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="New" matTooltip="New item" [matTooltipShowDelay]="1000">
                <mat-icon>library_add</mat-icon>
            </button>
        </mat-toolbar>
        <div class="example-large-box mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
    <mat-tab label="Daily Plan">        
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="New" matTooltip="New item" [matTooltipShowDelay]="1000">
                <mat-icon>library_add</mat-icon>
            </button>
        </mat-toolbar>
        <div class="example-large-box mat-elevation-z4">
            Large content
        </div>
    </mat-tab>
</mat-tab-group>