$objstack-dark-primary: mat-palette($mat-grey, 700, 300, 900);
$objstack-dark-accent: mat-palette($mat-blue-grey, 400);
$objstack-dark-warn: mat-palette($mat-red, 500);

$objstack-dark-theme: mat-dark-theme($objstack-dark-primary, $objstack-dark-accent, $objstack-dark-warn);
