<!-- <div class="grid-container">

    <div class="currentTasks">
        <mat-card>current task 1</mat-card>
        <mat-card>current task 2</mat-card>
        <mat-card>current task 3</mat-card>
    </div>

    <div class="upcomingTasks">
        <mat-card>Upcoming task 1</mat-card>
        <mat-card>Upcoming task 2</mat-card>
        <mat-card>Upcoming task 3</mat-card>
    </div>

</div> -->

<section class="wrapper">
    <ul class="column__list">
        <li class="column__item">
            <div class="column__title--wrapper">
                <h2>Current Tasks</h2>
            </div>
            <ul class="card__list">
                <li class="card__item">
                    <mat-card>current task 1</mat-card>
                </li>
            </ul>
        </li>
        <li class="column__item">
            <div class="column__title--wrapper">
                <h2>Pending Tasks</h2>
            </div>
            <ul class="card__list">
                <li class="card__item">
                    <mat-card>Pending task 1</mat-card>
                </li>
                <li class="card__item">
                    <mat-card>Pending task 2</mat-card>
                </li>
                <li class="card__item">
                    <mat-card>Pending task 3</mat-card>
                </li>
                <li class="card__item">
                    <mat-card>Pending task 4</mat-card>
                </li>
            </ul>
        </li>
        <li class="column__item">
            <div class="column__title--wrapper">
                <h2>Completed Tasks</h2>
            </div>
            <ul class="card__list">
                <li class="card__item">
                    <mat-card>current task 1</mat-card>
                </li>
            </ul>
        </li>
    </ul>
</section>